<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Itens</title>
</head>
<body>
	<h1 layout:fragment="header">Item</h1>
	<div layout:fragment="content">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nome</th>
					<th scope="col">Preço</th>
					<th scope="col">+</th>
					<th scope="col">+</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="id" th:text="${item.id}">ID</td>
					<td id="nome" th:text="${item.nome}">Nome</td>
					<td id="preco" th:text="${item.preco}">Preco</td>
					<td><a href="item.form" th:href="@{'/itens/alterar/'+${item.id}}">Alterar</a></td>
					<td><a href="#" th:href="@{'/itens/remover/'+${item.id}}">Alterar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>