<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Inicio</title>
</head>
<body>
	<h1 layout:fragment="header">Green Dog Delivery
	<small>Painel de controle</small></h1>
	<div layout:fragment="content">
	<div class="jumbotron">
		<a class="btn btn-lg btn-info" th:href="@{ambiente}">Ambiente</a>
		<a class="btn btn-lg btn-info" th:href="@{/h2}">H2 Console</a>
		<a class="btn btn-lg btn-info" th:href="@{/clientes/novo}">Cadastrar Cliente</a>
		<a class="btn btn-lg btn-info" th:href="@{/itens/novo}">Cadastrar Item</a>
	</div>
	</div>
</body>
</html>