<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cliente</title>
</head>
<body>
<h1 layout:fragment="header">Cadastro de clientes</h1>
<div layout:fragment="content" class="input-form">
  <form action="#" th:action="@{/clientes/(form)}" th:object="${cliente}" method="post" class="form-horizontal"> 
    <input type="hidden" name="" th:field="*{id}">
    <div class="form-group">
      <label for="nome" >Nome</label>
      <input type="text" class="form-control"
      th:field="*{nome}"/>
    </div>
    <div class="form-group">
      <label for="endereco">Endereco</label>
      <textarea class="form-control" th:field="*{endereco}"></textarea>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1"/>
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br />
    <a th:href="@{/}" href="/">Voltar</a>
  </form>
</div>
</body>
</html>