<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Lista de Clientes</title>
</head>
<body>
<h1 layout:fragment="header">Lista de clientes</h1>
<div layout:fragment="content">
<div class="alert alert-success" role="alert" th:if="${globalMensagem}"
			th:text="${globalMensagem}">Cliente cadastrado com sucesso</div>
<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</</th>
					<th scope="col">Nome</th>
					<th scope="col">Endereco</th>
					<th scope="col">+</th>
					<th scope="col">-</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente : ${clientes}">					
					<td id="id" ><a href="" th:href="@{'/clientes/'+${cliente.id}}"><span th:text="${cliente.id}"></span></a></td>
					<td id="nome" th:text="${cliente.nome}">Nome</td>
					<td id="endereco" th:text="${cliente.endereco}">Endereco</td>
					<td><a href="form.html" th:href="@{'/clientes/alterar/'+${cliente.id}}">Alterar</a></td>
					<td><a href="form.html" th:href="@{'/clientes/remover/'+${cliente.id}}">Excluir</a></td>
				</tr>
			</tbody>
		</table>
		<a href="#" th:href="@{/clientes/novo}" class="btn btn-primary" role="button" aria-pressed="true">Adicionar</a><br />
		<a th:href="@{/}" href="/">Voltar</a>
	</div>
</body>
</html>